<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="config.xsd" type="application/xml" schematypens="http://www.w3.org/2001/XMLSchema"?>

<ffsc version="1.0">
	<config id="0" active="true" root="C:\\Users\Visual Laser 10 New\">
		<directory>
			<excluded>
			</excluded>
			<included>
			</included>
		</directory>
		<file>
			<excluded>
			</excluded>
			<included>
			</included>
		</file>
	</config>
</ffsc>
